[submodule "vim/pack/greg/start/vim-airline"]
	path = vim/pack/greg/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/greg/start/ctrlp.vim"]
	path = vim/pack/greg/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/greg/start/csv.vim"]
	path = vim/pack/greg/start/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/pack/greg/start/minibufexpl.vim"]
	path = vim/pack/greg/start/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/pack/greg/start/nerdtree"]
	path = vim/pack/greg/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/greg/start/tagbar"]
	path = vim/pack/greg/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/pack/greg/start/tmuxline.vim"]
	path = vim/pack/greg/start/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/pack/greg/start/vim-airline-themes"]
	path = vim/pack/greg/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/greg/start/vim-python-pep8-indent"]
	path = vim/pack/greg/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "vim/pack/greg/start/a.vim"]
	path = vim/pack/greg/start/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim/pack/greg/start/QFEnter"]
	path = vim/pack/greg/start/QFEnter
	url = https://github.com/yssl/QFEnter.git
[submodule "vim/pack/greg/start/editorconfig-vim"]
	path = vim/pack/greg/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/greg/start/jedi-vim"]
	path = vim/pack/greg/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/pack/greg/start/supertab"]
	path = vim/pack/greg/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/greg/start/syntastic"]
	path = vim/pack/greg/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/greg/start/vim-flake8"]
	path = vim/pack/greg/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/pack/greg/start/vim-fugitive"]
	path = vim/pack/greg/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/greg/start/vim-virtualenv"]
	path = vim/pack/greg/start/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
